

<h2>Lợi nhuận bán tin: <font color="red">@ViewBag.LoiNhuanBanTinDang</font></h2>
<br />
<h2>Số lượng tin đã bán: <font color="red">@ViewBag.TongSoTinDaBan</font></h2>
<br />
<h2>Tổng số lượng đơn đặt hàng: <font color="red">@ViewBag.TongDDH</font></h2>
<br />
<h2>Tổng số lượng thành viên: <font color="red">@ViewBag.TongThanhVien</font></h2>
<br />
