@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*<div style="align-content:center">
        <h2>Đăng nhập</h2>
        <div class="form-info" style="align-content:center">
            @using (Html.BeginForm())
            {
                <dl class="dl-horizontal">
                    <dt>Tên đăng nhập:</dt>
                    <dd><input class="email TaiKhoan" name="txtTaiKhoan" placeholder="Tên đăng nhập" required="" type="text"></dd>
                    <dt>Mật khẩu:</dt>
                    <dd><input class="password MatKhau" name="txtMatKhau" placeholder="Mật khẩu" required="" type="password"></dd>
                </dl>
                <div>
                    <ul class="login-buttons">
                        <li><input value="Đăng nhập" type="submit" id="btnDangNhap1"></li>
                        <li>@ViewBag.ThongBao</li>
                    </ul>
                </div>
                
            }
        </div>
    </div>*@
        <div class="container">
            
            <div class="col-sm-6">
                <center><h2>Đăng nhập</h2></center>
                </div>
            <div class="clearfix"></div>
                @using (Html.BeginForm())
            {
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Tên đăng nhập</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="email" placeholder="Enter account" name="txtTaiKhoan">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Mật khẩu</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="txtMatKhau">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <div class="checkbox">
                                <label><input type="checkbox" name="remember"> Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-default">Đăng nhập</button>
                            <div><font color="red">@ViewBag.ThongBao</font></div>
                        </div>
                    </div>
                }
            </div>
</body>
</html>
