
@{
    ViewBag.Title = "KhoaTaiKhoan";
    Layout = "~/Views/Layout/MerchantLayout.cshtml";
}
<br />
<br />

<div style="text-align:center;color:red">
    <h2>Chức năng của bạn hiện tại đang bị KHÓA</h2>
    <br />
    <h2>Mọi chi tiết vui lòng liên hệ tổng đài để biết thêm chi tiết.</h2>
    <br />
    <h2>Hotline: 19009999</h2>
</div>


